* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  background: #fff;
  margin: 0;
  overscroll-behavior: none;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section#first,
section#second {
  width: 100vw;
  height: 100vh;
  display: block;
}
section#second {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
section#first {
  height: 200vh;
}
footer {
  width: 100%;
  height: 100vh;
  background: #c71a23;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}
.fixed {
  display: block;
  pointer-events: none;
}
.fixed * {
  pointer-events: none;
}
.step1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.step2,
.step3 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000;
  will-change: transform;
  visibility: hidden;
  color: #fff;
}
.step2 span,
.step3 span {
  font-size: 50px;
  line-height: 50px;
  display: block;
}
.step3 {
  z-index: 3;
  background: #e2970d;
}
.logo {
  display: block;
}
.logo img {
  display: block;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 55vw;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 140px;
  transform: translateX(-50%) translateY(25px);
  opacity: 0;
}
.intro p {
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 43px;
  color: #5e1b18;
  font-style: italic;
  margin: 0;
}
section:not(#webgl) {
  position: relative;
  z-index: 1;
}
div#webgl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 0;
  pointer-events: auto;
}
div#webgl canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  position: absolute;
  left: 50%;
  bottom: 55px;
  mix-blend-mode: difference;
  transform: translateX(-50%);
  animation: alpha 2.4s infinite;
}
.scroll span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
.scroll span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 16px;
  background-image: url(./assets/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (max-width: 1780px) {
  .intro {
    max-width: 60vw;
    bottom: 115px;
  }
}

@keyframes alpha {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.99;
  }
}
